@use "font-face";
@mixin width-block {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}
@mixin flex-grop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin font-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: #919299;
  margin-bottom: 40px;
  font-family: "Proxima Nova", sans-serif;
}
@mixin first-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  color: #f78cb6;
}
@mixin second-title {
  font-size: 50px;
  font-weight: 500;
  line-height: 62px;
  color: #56597a;
  margin-bottom: 24px;
}
@mixin before-img {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  display: block;
  width: 100%;
  max-width: 218px;
  height: 331px;
}
$desctop: 1200px;
$small-desctop: 992px;
$tablet: 768px;
$mobile: 576px;
* {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
img {
  max-width: 100%;
}
h1 {
  font-size: 6vw;
}

/* header */
.header {
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: whitesmoke;
  &_head {
    @include flex-grop;
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 15px;
  }
  /* header_left */
  &_logo {
    width: 106px;
    height: 30px;
    cursor: pointer;
    &__link {
      display: inline-block;
    }
  }
  /* header_right */
  &_nav {
    max-width: 560px;
    width: 100%;
    @include flex-grop;
  }
  &_list {
    @include flex-grop;
    flex-direction: row;
    gap: 72px;
    width: 100%;
  }
  &_link {
    font-size: 20px;
    font-weight: 500;
    color: #aaaaab;
    text-decoration: none;
    line-height: 30px;
    border-bottom: none;
    transition: all 1s ease-in;
    &:hover {
      color: #f78bb6;
      border-bottom: 1px solid #f78bb6;
    }
  }
}
.burger {
  display: none;
  height: 30px;
  width: 40px;
  flex-direction: column;
  z-index: 3;
  position: relative;
}
.burger .bar {
  color: #aaaaab;
  display: block;
  width: 40px;
  height: 2px;
  margin: 5px auto;
  background-color: #aaaaab;
  transition: transform 0.2s ease-in;
}
.burger.active .bar:nth-child(1) {
  transform: translateY(14px) rotate(45deg);
}
.burger.active .bar:nth-child(2) {
  opacity: 0;
}
.burger.active .bar:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}
@media screen and (max-width: $small-desctop) {
  .header {
    margin-bottom: 0;
    padding-top: 20px;
  }
}
@media screen and (max-width: $tablet) {
  .header {
    margin-bottom: 0;
    &_right {
      display: flex;
      flex-flow: row-reverse;
      padding-right: 50px;
    }
    &_list {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(24, 21, 17, 0.9);
      z-index: 2;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &_list.active {
      display: flex;
    }
    &_link {
      font-size: 30px;
      color: #aaaaab;
      padding: 15px 0;
    }
  }
  .burger {
    display: block;
    cursor: pointer;
  }
}

/* main */

main::before {
  content: "";
  width: 882px;
  height: 775px;
  background-image: url(../image/background/backgr.svg);
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 0;
  right: -110px;
}
/* agency */
.agency {
  @include width-block;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-top: 144px;
  &_left {
    width: 50%;
    padding: 0 15px;
  }
  &_first__text {
    @include first-title;
    margin-bottom: 29px;
    &::before {
      content: "";
      width: 36px;
      height: 3px;
      background: #f78cb6;
      display: inline-block;
    }
  }
  &_title {
    font-size: 64px;
    font-weight: 700;
    line-height: 74px;
    color: #56597a;
    margin-bottom: 31px;
  }
  &_second__text {
    @include font-text;
    max-width: 545px;
    width: 100%;
    letter-spacing: 0.02em;
  }
  // agency_right
  &_right {
    width: 50%;
    padding: 0 15px;
  }
}
@media screen and (max-width: $small-desctop) {
  main {
    &::before {
      display: none;
    }
  }
  .agency {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: start;
    text-align: center;
    &_left {
      width: 80%;
    }
    &_second__text {
      width: 80%;
      margin: 0 auto;
      padding-bottom: 20px;
    }
    &_right {
      width: 80%;
    }
  }
  .btn {
    margin: 0 auto;
  }
}
.btn {
  background-color: #f78bb6;
  border-radius: 4px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  border: none;
  padding: 18px 22px;
  display: flex;
  align-items: center;
  transition: all 1s ease-in;
  &:hover {
    background-color: #56597a;
    color: #f78bb6;
  }
}
.icon_btn {
  margin-left: 20px;
  transition: all 1s ease-in;
  &:hover {
    color: #f78bb6;
  }
}
/* services */

.services {
  @include width-block;
  padding-top: 192px;
  position: relative;
  &::before {
    @include before-img;
    top: -65px;
    left: -105px;
    background-image: url(../image/background/left_back.svg);
  }
  &_first__title {
    @include first-title;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin-bottom: 6px;
  }
  &_second__title {
    font-size: 52px;
    font-weight: 700;
    line-height: 72px;
    text-align: center;
    color: #56597a;
    margin-bottom: 58px;
    position: sticky;
    top: 0;
  }
  /* services_container */
  &_container {
    @include flex-grop;
    padding: 0 15px;
    gap: 1%;
  }
}
/* container */
.container {
  padding: 0 23px;
  background-color: #fff1f9;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  max-width: calc(97% / 4);
  &_icons {
    font-size: 49px;
    box-sizing: border-box;
    align-items: center;
    color: #fc85b4;
    border: 0.35px solid #fff1f9;
    padding-top: 56px;
    margin-bottom: 42px;
  }
  &_title {
    font-size: 34px;
    font-weight: 600;
    font-family: "Proxima Nova", sans-serif;
    line-height: 72px;
    color: #56597a;
  }
  &_text {
    font-family: "Proxima Nova", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #919299;
    max-width: 224px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 15px;
  }
  &:hover {
    background-color: #f78cb6;
    padding-bottom: 37px;
  }
  &:hover &_icons {
    color: #fff;
    border: 0.5px solid #f78cb6;
  }
  &:hover &_title {
    color: #fff;
  }
  &:hover &_text {
    color: #fff;
    margin-bottom: 10px;
  }
  &_btn {
    display: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: #fff;
    background-color: #f78cb6;
    border: none;
  }
  &:hover &_btn {
    display: inline-block;
  }
  &_icons__2 {
    color: #fff;
    font-size: 20px;
    margin-left: 8px;
    line-height: 30px;
  }
}
@media screen and (max-width: $small-desctop) {
  .services {
    padding-top: 100px;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    &::before {
      display: none;
    }
    &_left {
      width: 80%;
    }
    &_second__text {
      width: 80%;
      margin: 0 auto;
      padding-bottom: 20px;
    }
    &_right {
      width: 80%;
    }
    &_container {
      gap: 20px;
      display: flex;
      flex-direction: column;
    }
  }
  .container {
    max-width: 100%;
  }
}
/* transform */
.container_1:hover {
  transform: translateX(30px);
}
.container_2:hover {
  transform: rotate(90deg);
}
.container_3:hover {
  transform: scale(1.1, 1.2);
}
.container_4:hover {
  transform: translateX(-30px);
}

/* things */
.things {
  @include width-block;
  @include flex-grop;
  padding-top: 194px;
  &_left {
    width: 50%;
    margin-right: 79px;
    padding: 0 15px;
  }
  &_right {
    width: 50%;
    padding: 0 15px;
  }
  &_first__title {
    @include first-title;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 15px;
  }
  &_second__title {
    @include second-title;
  }
  &_text {
    @include font-text;
    max-width: 500px;
    width: 100%;
    letter-spacing: 0.05em;
  }
}
@media screen and (max-width: $small-desctop) {
  .things {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 100px;
    &_left {
      width: 80%;
      margin-right: 0;
    }
    &_text {
      width: 80%;
      margin: 0 auto;
      padding-bottom: 20px;
    }
    &_right {
      width: 80%;
      padding-top: 40px;
    }
  }
}
/* teamwork */
.teamwork {
  @include width-block;
  @include flex-grop;
  padding-top: 194px;
  position: relative;
  &::before {
    @include before-img;
    top: -70px;
    right: -135px;
    background-image: url(../image/background/right_back.svg);
  }
  /* teamwork_left */
  &_left {
    width: 50%;
    padding: 0 15px;
  }
  &_first__title {
    @include first-title;
    margin-bottom: 15px;
    margin-top: 76px;
  }
  &_second__title {
    @include second-title;
  }
  &_text {
    @include font-text;
    letter-spacing: 0.05em;
    max-width: 500px;
    width: 100%;
  }
  /* teamwork_right */
  &_right {
    padding: 0 15px;
    width: 50%;
  }
}
@media screen and (max-width: $small-desctop) {
  .teamwork {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 100px;
    padding-top: 100px;
    &::before {
      display: none;
    }
    &_left {
      width: 80%;
      margin-right: 0;
    }
    &_right {
      width: 80%;
      padding-top: 40px;
    }
    &_text {
      width: 80%;
      margin: 0 auto;
      padding-bottom: 20px;
    }
    &_first__title {
      margin-top: 0;
    }
  }
}
/* testimonial */
.testimonial {
  @include width-block;
  @include flex-grop;
  padding-top: 194px;
  position: relative;
  &::before {
    top: -100px;
    left: -105px;
    background-image: url(../image/background/left_back.svg);
  }
  &_left {
    padding: 0 15px;
    width: 50%;
    height: 418px;
    background-size: cover;
  }
  &_right {
    padding: 0 15px;
    width: 50%;
  }
  &_second__title {
    @include second-title;
  }
  &_text {
    max-width: 400px;
    width: 100%;
    margin-bottom: 23px;
  }
  &_last__title {
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    color: #56597a;
    margin-bottom: 5px;
  }
  &_text__2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    font-family: "Proxima Nova", sans-serif;
    color: #ababab;
  }
}
@media screen and (max-width: $small-desctop) {
  .testimonial {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    &::before {
      display: none;
    }
    &_left {
      width: 80%;
      margin-right: 0;
      height: 100%;
    }
    &_text {
      width: 80%;
      margin: 0 auto;
      padding-bottom: 20px;
    }
    &_right {
      width: 80%;
      padding-top: 40px;
    }
  }
}
