@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-RegularCondensed.eot");
  src: url("../fonts/ProximaNova-RegularCondensed.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-RegularCondensed.woff") format("woff"), url("../fonts/ProximaNova-RegularCondensed.ttf") format("truetype"), url("../fonts/ProximaNova-RegularCondensed.svg#ProximaNova-RegularCondensed") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-SemiBoldCondensed.eot");
  src: url("../fonts/ProximaNova-SemiBoldCondensed.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-SemiBoldCondensed.woff") format("woff"), url("../fonts/ProximaNova-SemiBoldCondensed.ttf") format("truetype"), url("../fonts/ProximaNova-SemiBoldCondensed.svg#ProximaNova-SemiBoldCondensed") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 6vw;
}

/* header */
.header {
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: whitesmoke;
  /* header_left */
  /* header_right */
}
.header_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 15px;
}
.header_logo {
  width: 106px;
  height: 30px;
  cursor: pointer;
}
.header_logo__link {
  display: inline-block;
}
.header_nav {
  max-width: 560px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 72px;
  width: 100%;
}
.header_link {
  font-size: 20px;
  font-weight: 500;
  color: #aaaaab;
  text-decoration: none;
  line-height: 30px;
  border-bottom: none;
  transition: all 1s ease-in;
}
.header_link:hover {
  color: #f78bb6;
  border-bottom: 1px solid #f78bb6;
}

.burger {
  display: none;
  height: 30px;
  width: 40px;
  flex-direction: column;
  z-index: 3;
  position: relative;
}

.burger .bar {
  color: #aaaaab;
  display: block;
  width: 40px;
  height: 2px;
  margin: 5px auto;
  background-color: #aaaaab;
  transition: transform 0.2s ease-in;
}

.burger.active .bar:nth-child(1) {
  transform: translateY(14px) rotate(45deg);
}

.burger.active .bar:nth-child(2) {
  opacity: 0;
}

.burger.active .bar:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}

@media screen and (max-width: 992px) {
  .header {
    margin-bottom: 0;
    padding-top: 20px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    margin-bottom: 0;
  }
  .header_right {
    display: flex;
    flex-flow: row-reverse;
    padding-right: 50px;
  }
  .header_list {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(24, 21, 17, 0.9);
    z-index: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header_list.active {
    display: flex;
  }
  .header_link {
    font-size: 30px;
    color: #aaaaab;
    padding: 15px 0;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
}
/* main */
main::before {
  content: "";
  width: 882px;
  height: 775px;
  background-image: url(../image/background/backgr.svg);
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 0;
  right: -110px;
}

/* agency */
.agency {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-top: 144px;
}
.agency_left {
  width: 50%;
  padding: 0 15px;
}
.agency_first__text {
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  color: #f78cb6;
  margin-bottom: 29px;
}
.agency_first__text::before {
  content: "";
  width: 36px;
  height: 3px;
  background: #f78cb6;
  display: inline-block;
}
.agency_title {
  font-size: 64px;
  font-weight: 700;
  line-height: 74px;
  color: #56597a;
  margin-bottom: 31px;
}
.agency_second__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: #919299;
  margin-bottom: 40px;
  font-family: "Proxima Nova", sans-serif;
  max-width: 545px;
  width: 100%;
  letter-spacing: 0.02em;
}
.agency_right {
  width: 50%;
  padding: 0 15px;
}

@media screen and (max-width: 992px) {
  main::before {
    display: none;
  }
  .agency {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: start;
    text-align: center;
  }
  .agency_left {
    width: 80%;
  }
  .agency_second__text {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  .agency_right {
    width: 80%;
  }
  .btn {
    margin: 0 auto;
  }
}
.btn {
  background-color: #f78bb6;
  border-radius: 4px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  border: none;
  padding: 18px 22px;
  display: flex;
  align-items: center;
  transition: all 1s ease-in;
}
.btn:hover {
  background-color: #56597a;
  color: #f78bb6;
}

.icon_btn {
  margin-left: 20px;
  transition: all 1s ease-in;
}
.icon_btn:hover {
  color: #f78bb6;
}

/* services */
.services {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding-top: 192px;
  position: relative;
  /* services_container */
}
.services::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  display: block;
  width: 100%;
  max-width: 218px;
  height: 331px;
  top: -65px;
  left: -105px;
  background-image: url(../image/background/left_back.svg);
}
.services_first__title {
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  color: #f78cb6;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  margin-bottom: 6px;
}
.services_second__title {
  font-size: 52px;
  font-weight: 700;
  line-height: 72px;
  text-align: center;
  color: #56597a;
  margin-bottom: 58px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.services_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  gap: 1%;
}

/* container */
.container {
  padding: 0 23px;
  background-color: #fff1f9;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  max-width: 24.25%;
}
.container_icons {
  font-size: 49px;
  box-sizing: border-box;
  align-items: center;
  color: #fc85b4;
  border: 0.35px solid #fff1f9;
  padding-top: 56px;
  margin-bottom: 42px;
}
.container_title {
  font-size: 34px;
  font-weight: 600;
  font-family: "Proxima Nova", sans-serif;
  line-height: 72px;
  color: #56597a;
}
.container_text {
  font-family: "Proxima Nova", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #919299;
  max-width: 224px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 15px;
}
.container:hover {
  background-color: #f78cb6;
  padding-bottom: 37px;
}
.container:hover .container_icons {
  color: #fff;
  border: 0.5px solid #f78cb6;
}
.container:hover .container_title {
  color: #fff;
}
.container:hover .container_text {
  color: #fff;
  margin-bottom: 10px;
}
.container_btn {
  display: none;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #fff;
  background-color: #f78cb6;
  border: none;
}
.container:hover .container_btn {
  display: inline-block;
}
.container_icons__2 {
  color: #fff;
  font-size: 20px;
  margin-left: 8px;
  line-height: 30px;
}

@media screen and (max-width: 992px) {
  .services {
    padding-top: 100px;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .services::before {
    display: none;
  }
  .services_left {
    width: 80%;
  }
  .services_second__text {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  .services_right {
    width: 80%;
  }
  .services_container {
    gap: 20px;
    display: flex;
    flex-direction: column;
  }
  .container {
    max-width: 100%;
  }
}
/* transform */
.container_1:hover {
  transform: translateX(30px);
}

.container_2:hover {
  transform: rotate(90deg);
}

.container_3:hover {
  transform: scale(1.1, 1.2);
}

.container_4:hover {
  transform: translateX(-30px);
}

/* things */
.things {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 194px;
}
.things_left {
  width: 50%;
  margin-right: 79px;
  padding: 0 15px;
}
.things_right {
  width: 50%;
  padding: 0 15px;
}
.things_first__title {
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  color: #f78cb6;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 15px;
}
.things_second__title {
  font-size: 50px;
  font-weight: 500;
  line-height: 62px;
  color: #56597a;
  margin-bottom: 24px;
}
.things_text {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: #919299;
  margin-bottom: 40px;
  font-family: "Proxima Nova", sans-serif;
  max-width: 500px;
  width: 100%;
  letter-spacing: 0.05em;
}

@media screen and (max-width: 992px) {
  .things {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 100px;
  }
  .things_left {
    width: 80%;
    margin-right: 0;
  }
  .things_text {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  .things_right {
    width: 80%;
    padding-top: 40px;
  }
}
/* teamwork */
.teamwork {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 194px;
  position: relative;
  /* teamwork_left */
  /* teamwork_right */
}
.teamwork::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  display: block;
  width: 100%;
  max-width: 218px;
  height: 331px;
  top: -70px;
  right: -135px;
  background-image: url(../image/background/right_back.svg);
}
.teamwork_left {
  width: 50%;
  padding: 0 15px;
}
.teamwork_first__title {
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  color: #f78cb6;
  margin-bottom: 15px;
  margin-top: 76px;
}
.teamwork_second__title {
  font-size: 50px;
  font-weight: 500;
  line-height: 62px;
  color: #56597a;
  margin-bottom: 24px;
}
.teamwork_text {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: #919299;
  margin-bottom: 40px;
  font-family: "Proxima Nova", sans-serif;
  letter-spacing: 0.05em;
  max-width: 500px;
  width: 100%;
}
.teamwork_right {
  padding: 0 15px;
  width: 50%;
}

@media screen and (max-width: 992px) {
  .teamwork {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 100px;
    padding-top: 100px;
  }
  .teamwork::before {
    display: none;
  }
  .teamwork_left {
    width: 80%;
    margin-right: 0;
  }
  .teamwork_right {
    width: 80%;
    padding-top: 40px;
  }
  .teamwork_text {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  .teamwork_first__title {
    margin-top: 0;
  }
}
/* testimonial */
.testimonial {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 194px;
  position: relative;
}
.testimonial::before {
  top: -100px;
  left: -105px;
  background-image: url(../image/background/left_back.svg);
}
.testimonial_left {
  padding: 0 15px;
  width: 50%;
  height: 418px;
  background-size: cover;
}
.testimonial_right {
  padding: 0 15px;
  width: 50%;
}
.testimonial_second__title {
  font-size: 50px;
  font-weight: 500;
  line-height: 62px;
  color: #56597a;
  margin-bottom: 24px;
}
.testimonial_text {
  max-width: 400px;
  width: 100%;
  margin-bottom: 23px;
}
.testimonial_last__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  color: #56597a;
  margin-bottom: 5px;
}
.testimonial_text__2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  font-family: "Proxima Nova", sans-serif;
  color: #ababab;
}

@media screen and (max-width: 992px) {
  .testimonial {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .testimonial::before {
    display: none;
  }
  .testimonial_left {
    width: 80%;
    margin-right: 0;
    height: 100%;
  }
  .testimonial_text {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  .testimonial_right {
    width: 80%;
    padding-top: 40px;
  }
}